@keyframes title {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes subtitle {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes button {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.about__wrapper-content {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.5s, transform 0.5s;
}

.about__wrapper-content.show {
	opacity: 1;
	transform: translateY(0);
}
