.bg {
	background: no-repeat url('../img/bg.png'), lightgray 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	z-index: 1;
}

.header {
	padding-top: 20px;
	position: relative;
}

.header::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: #000;
	filter: blur(36.20000076293945px);
	z-index: 2;
}

.header__container {
	display: flex;
	justify-content: space-between;
}

.header__logo {
	z-index: 5;
}

.header__logo > h2 {
	color: white;
	font-family: Red Rose;
	font-size: 18px;
	font-weight: 700;
	z-index: 2;
}

.header__logo > h2 > span {
	color: #fff500;
}

.header__nav {
	z-index: 5;
	display: flex;
	flex-direction: column;
}

.header__nav-list {
	display: flex;
	justify-content: flex-end;
	gap: clamp(2rem, 1.304rem + 3.48vw, 4rem);
}

.header__nav-list:not(:last-child) {
	margin-bottom: clamp(0.75rem, 0.489rem + 1.3vw, 1.5rem);
}

.header__nav-item > a {
	color: #fff;
	font-family: Red Rose;
	font-size: 12px;
	font-weight: 400;
	gap: clamp(2rem, 1.304rem + 3.48vw, 4rem);
	transition: all 0.2s ease;
}

.header__nav-item > a:hover {
	color: #fff500;
}

main {
	padding-bottom: 100px;
}

.about__u {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main__container {
	display: flex;
	flex-direction: column;
	margin-top: clamp(7.5rem, 4.891rem + 13.04vw, 15rem);
	align-items: start;
}

.main__container h2 {
	color: #fff;
	font-family: Red Rose;
	font-size: clamp(2rem, 1.304rem + 3.48vw, 4rem);
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 7px;
}

.main__container h3 {
	color: #fff;
	font-family: Red Rose;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
	max-width: 560px;
	margin-bottom: 65px;
}

.main__button {
	border-radius: 49px;
	background: #fff500;
	display: flex;
	padding: 14px clamp(2rem, 1.304rem + 3.48vw, 4rem);
	justify-content: center;
	align-items: center;
	gap: 10px;
	transition: all 0.3s ease;
}

.main__button > h4 {
	color: #000;
	font-family: Red Rose;
	font-size: clamp(0.5rem, 0.326rem + 0.87vw, 1rem);
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
}

.main__button:hover {
	opacity: 0.7;
}

.about {
	padding-top: 100px;
}

.about__container {
}

.about__wrapper {
	display: flex;
	flex-direction: column;
}

.about__wrapper-header {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 45px;
}

.about__wrapper-header:not(:first-child) {
	margin-top: 100px;
}

.about__header-top {
	display: flex;
	align-items: center;
}

.about__wrapper-header-title {
	color: #000;
	font-family: Red Rose;
	font-size: clamp(1.5rem, 0.978rem + 2.61vw, 3rem);
	font-weight: 400;
	margin-left: 10px;
}

.about__wrapper-header-subtitle {
	color: #000;
	text-align: center;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 140%;
}

.about__wrapper-content {
	display: grid;
	gap: clamp(0.75rem, 0.489rem + 1.3vw, 1.5rem);
	grid-template-columns: repeat(2, 1fr);
}

.about__wrapper-ord {
	background: #000;
	backdrop-filter: blur(60px);
	padding: clamp(1.188rem, 0.774rem + 2.07vw, 2.375rem)
		clamp(0.75rem, 0.489rem + 1.3vw, 1.5rem);
}

.about__wrapper-card {
	align-items: center;
	display: flex;
	justify-content: space-between;
	border-radius: clamp(0.563rem, 0.367rem + 0.98vw, 1.125rem);
}

.about__wrapper-card:not(:last-child) {
	margin-bottom: 20px;
}

.about__ord-left {
	display: flex;
	align-items: center;
}

.about__money {
	color: #fff500;
	text-align: right;
	font-family: Red Rose;
	font-size: clamp(0.75rem, 0.489rem + 1.3vw, 1.5rem);
	font-weight: 300;
	margin-right: 5px;
}

.about__price {
	color: #fff;
	text-align: right;
	font-family: Red Rose;
	font-size: clamp(1rem, 0.652rem + 1.74vw, 2rem);
	font-weight: 700;
}

.about__price > span {
	font-size: clamp(0.75rem, 0.489rem + 1.3vw, 1.5rem);
	font-weight: 400;
}

.about__ord-right {
	border-radius: 50%;
	padding: clamp(0.375rem, 0.245rem + 0.65vw, 0.75rem);
	background-color: #fff500;
}

.about__wrapper-combo {
	background: url('../img/2.png'), lightgray 50% / cover no-repeat;
	backdrop-filter: blur(60px);
	padding: 30px clamp(0.75rem, 0.489rem + 1.3vw, 1.5rem)
		clamp(1rem, 0.652rem + 1.74vw, 2rem) 30px;
}

.about__combo-center {
	display: flex;
	align-items: center;
}

.combo__title {
	color: #fff500;
	font-family: Red Rose;
	font-size: clamp(1rem, 0.652rem + 1.74vw, 2rem);
	font-weight: 700;
}

.combo__subtitle {
	color: #fff;
	font-family: Red Rose;
	font-size: clamp(0.5rem, 0.326rem + 0.87vw, 1rem);
	font-weight: 400;
}

footer {
	margin-top: 100px;
	padding-top: 50px;
	padding-bottom: 25px;
	background-color: black;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 15px 15px 0 0;
}

.footer__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__logo {
	color: #fff500;
	font-family: Red Rose;
	font-size: clamp(1rem, 0.652rem + 1.74vw, 2rem);
	font-weight: 700;
}

.footer__logo > span {
	color: white;
}

.footer__social {
	display: flex;
	gap: clamp(1.5rem, 0.978rem + 2.61vw, 3rem);
}

.footer__buttom {
	text-align: center;
}

.footer__subtitle {
	color: #fff;
	font-family: Red Rose;
	font-size: 10px;
	font-weight: 400;
}

.burger__button {
	z-index: 1000;
	margin-top: 10px;
	display: none;
}

.btn {
	position: relative;
	display: block;
	width: 26px;
	height: 3px;
	background-color: #fff500;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
	transform: translateX(20px);
}

.btn:after {
	content: '';
	position: absolute;
	display: block;
	right: 0;
	width: 32px;
	height: 3px;
	border-radius: 5px;
	background-color: #fff500;
	transform: translateY(-7px);
	transition: all 0.2s ease-in-out;
}

.btn::before {
	content: '';
	position: absolute;
	display: block;
	right: 0;
	width: 17px;
	height: 3px;
	border-radius: 5px;
	background-color: #fff500;
	transform: translateY(7px);
	transition: all 0.2s ease-in-out;
}

.cross .btn {
	height: 0;
}

.cross .btn::after {
	width: 32px;
	transform: rotate(-45deg);
	background-color: #fff;
}

.cross .btn::before {
	width: 32px;
	transform: rotate(45deg);
	background-color: #fff;
}

.none {
	display: none;
}

.burger__wrapper {
	position: absolute;
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	background-color: #000;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	transition: all 0.3s ease-in-out;
	overflow: auto;
}

.burger__wrapper::before {
	content: '';
	position: absolute;
	background: rgba(255, 245, 0, 0.25);
	mix-blend-mode: screen;
	filter: blur(60px);
	width: 100%;
	height: 100%;
	transform: translateY(-80%);
	border-radius: 412px;
	z-index: 100;
}

.burger__nav {
	display: flex;
	justify-content: space-between;
	z-index: 100;
}

.burger__nav-list {
	display: flex;
	align-items: center;
	text-align: left;
	flex-direction: column;
	max-width: 700px;
	margin: 0 auto;
	gap: 90px;
}

.burger__nav-item {
	color: #fff;
	font-family: Red Rose;
	font-size: clamp(0.563rem, 0.367rem + 0.98vw, 1.125rem);
	font-weight: 400;
}

.burger__btn {
	display: inline-flex;
	padding: clamp(0.563rem, 0.367rem + 0.98vw, 1.125rem)
		clamp(1rem, 0.652rem + 1.74vw, 2rem);
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 34px;
	background: #fff500;
	color: #000;
	text-align: center;
	font-family: Red Rose;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 30px;
}

.hidden {
	transition: all 0.3s ease-in-out;
	transform: translateY(-100%);
}

@media screen and (max-width: 990px) {
	.header__nav {
		display: none;
	}

	.burger__button {
		display: flex;
		width: 50px;
		height: 50px;
	}

	.about__wrapper-content {
		display: flex;
		flex-direction: column;
	}

	.about__wrapper-left {
		display: flex;
		flex-direction: column;
	}

	.about__wrapper-lright {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 560px) {
	.footer__container {
		flex-direction: column;
	}

	.footer__top {
		flex-direction: column;
	}

	.footer__logo {
		margin-bottom: 25px;
	}

	.footer__social {
		margin-bottom: 50px;
	}

	.bg {
		background: no-repeat url('../img/bg1.png'), lightgray 50%;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100%;
		z-index: 1;
	}

	.main__container {
		text-align: center;
		align-items: center;
	}

	.main__button {
		display: flex;
		justify-content: center;
		width: 90%;
	}
}

.overflow__hidden {
	overflow: hidden;
}
